.container {
    display: flex;
    flex-direction: column;
    width: 126px;
}

.entity {
    display: flex;
    height: 412px;
    max-width: 460px;
    flex-wrap: wrap;
    margin: auto;
    border: 2px dotted black;
    justify-content: space-around;
    background-color: #c2ff73;
}

.flower {
    background-image: url("imgs/flower-status-good.png");
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: 40%;
    display: block;
    cursor: pointer;
}
.flower-bad {
    background-image: url("imgs/flower-status-bad.png");
}
.flower-dead {
    background-image: url("imgs/flower-status-dead.png");
}

.name {
    margin-bottom: 0;
}

.button {
    padding: 10px 18px;
    border-radius: 50%;
    border: 1px solid #fff;
    font-size: 19px;
    cursor: pointer;
}
.button:active {
    border-color: yellow;
    border-width: 3px;
}

.feed-button {
    background-color: #15ebe2;
}
.treat-button {
    background-color: #ff2100;
}
.play-button {
    background-color: #06ff00;
}
.sleep-button {
    background-color: #f6cf0b;
}

.message-container {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: auto;
    color: red;
}

.fa {
    width: 25px;
    color: #686868;
}

button>.fa {
    color: #fff;
}