.container {
    display: flex;
    flex-direction: column;
    width: 116px;
}

.entity {
    display: flex;
    height: 412px;
    max-width: 460px;
    flex-wrap: wrap;
    margin: auto;
    border: 2px dotted black;
    justify-content: space-around;
    background-color: #b6ccdf;
}

.flower {
    background-image: url("imgs/flower-status-good.png");
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: 40%;
    display: block;
    cursor: pointer;
}
.flower-bad {
    background-image: url("imgs/flower-status-bad.png");
}
.flower-dead {
    background-image: url("imgs/flower-status-dead.png");
}

.name {
    margin-bottom: 0;
}