ul, li {
    list-style: none;
    display: flex;
}

input {
    border: none;
    border-bottom: 1px solid #07a2ff;
    outline: none;
    color: #0780ff;
    background: none;
}

input:focus {
    border: none;
    border-bottom: 1px solid #07a2ff;
}

:focus {
    border: none;
    border-bottom: 1px solid #07a2ff;
}

button {
    border: none;
    color: white;
    background-color: #0780ff;
    padding: 10px;
    min-width: 100px;
    cursor: pointer;
}

/*-----------------------------*/

#container {
    display: flex;
    max-width: 900px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.tasks-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #e7f4ff;
    padding: 20px 20px;
    border-radius: 14px;
}

.empty-container {
    display: flex;
    color: #c2d0ff;
    justify-content: center;
}

#list-title {
    width: 100%;
    text-align: center;
    color: #0780ff;
}

.task {
    padding: 20px 10px;
    border-radius: 13px;
    border: 1px solid #badafc;
    margin: 10px 0;
    flex-wrap: wrap;
}

.task-text {
    width: 70%;
    margin: 10px 0 15px 0;
    color: #898989;
}

#task-input {
    width: 45%;
}

.buttons {
    width: 100%;
    padding: 20px 0;
}

.reverse {
    flex-direction: column-reverse;
}

.change-status-button, .edit-button, .delete-button {
    width: 64px;
    border-radius: 7px;
    padding: 0;
    min-width: inherit;
    height: 30px;
    align-items: center;
}

.edit-button {
    background-color: #7350fc;
}

.change-status-button {
    margin: 0 15px;
    background-color: #459d04;
}

.delete-button {
    background-color: #767a7c;
}

.task-date {
    margin: 0;
    font-size: 14px;
    color: #bababa;
}