.slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  width: 284px;
  height: 177px;
}

.slides-list {
  display: block;
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}

.slide-item {
  height: 177px;
  display: block;
  float: left;
  position: relative;
  margin: 0;
  padding: 0;
}

.slide-item img {
  width: 120%;
}

.slide-prev, .slide-next {
  background-image: url("https://www.shareicon.net/download/2015/10/03/111568_left_512x512.png");
background-repeat: no-repeat;
  background-size: 50%;
  background-position: 40%; z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.slide-next {
  background-image: url("https://www.shareicon.net/download/2015/10/03/111568_left_512x512.png");
  right:0;
  margin-right:0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}